@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  /* Блочная модель */   
  margin-bottom: 30px;  

  /* Типографика */
  font-family: ‘Graphik LCG’, sans-serif;   
  color: white;
}

.download {
  /* Позиционирование */   
     
  /* Блочная модель */   
  padding: 20px;
  border: 3px solid #2f1ce4;
  display: inline-block;    
  
  /* Типографика */
  color: white;

  /* Оформление */   
  background-color: #2f1ce4;
  /* Анимации */  
}

.detail {
  /* Позиционирование */   
     
  /* Блочная модель */   
  padding: 20px;
  border: 3px solid white;
  display: inline-block;  
  
  /* Типографика */  
  color: white;
  /* Оформление */   
  background-color: rgba(0, 0, 0, 0);

  /* Анимации */  
}

.container {
  /* Позиционирование */   
     
  /* Блочная модель */ 
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;   
  width: 1170px;
  /* Типографика */  

  /* Оформление */  

  /* Анимации */ 
}

.main {  
     
  /* Блочная модель */ 
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;   

  /* Оформление */  
  background-image: url('../img/Фигура\ 1@3x.svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat; 
  /* Анимации */ 
}

.skillbox{
  display: block;
  font-size: 40px;
  font-family: Mariad pro, sans-serif;   
  color: #222020;
  padding-top: 55px;
  padding-bottom: 55px;
}

.content {
  margin: 0 auto;  
  width: 1180px;
}

.modContent{
  padding: 0 80px;
}


.return {
  /* Позиционирование */   
     
  /* Блочная модель */ 
  /* Типографика */  

  /* Оформление */
  background-image: url('../img/return.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;

  padding-left: 40px;
  display: block;
  /* Анимации */ 
}

.mainHead {
  /* Блочная модель */
  margin-top: 100px;   
  padding-left: 100px;  

  /* Типографика */
  font-size: 48px;
  font-family: Gilroy, sans-serif;   
  color: #222020;
}

.middleHead {
  /* Блочная модель */
  margin-top: 100px;   
  margin-bottom: 25px;
  padding-left: 180px;  

  /* Типографика */
  font-size: 36px;
  font-family: Gilroy, sans-serif;   
  color: #2f1ce4;
}

.list {
  /* Блочная модель */ 
  padding-left: 200px;  

  /* Типографика */
  font-size: 18px;
}

p {
  /* Блочная модель */ 
  margin-bottom: 20px;
  padding-left: 180px; 
}

.image{
  /* Блочная модель */ 
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 200px; 
  display: inline-block;

  text-align: center;
  caption-side: bottom;
}

figcaption {
  text-align: center;
}

.table {
  border: #a0a0a0 solid 1px;
  border-collapse: collapse;
  padding: 10px;
  margin-top: 100px;
} 

.caption {
  border-collapse: collapse;
  padding: 20px;
  margin-top: 100px;
} 

img{
  max-width: 400;
}

th {
  border: #a0a0a0 solid 1px;
  border-collapse: collapse;
  padding: 10px;
}

td {
  border: #a0a0a0 solid 1px;
  border-collapse: collapse;
  padding: 10px;
}

.modules {
  padding-top: 178px;
  display: inline-block;
  width: 480px;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 20px #535353;

  display: inline-block;
  min-height: 300px;
  margin-bottom: 60px;
  vertical-align: middle;
  position: relative;
}

.right {
  margin-left: 55px;
}

.bgImage1{
  background-image: url('../img/1.jpg');
}

.bgImage2{
  background-image: url('../img/2.jpg');
}

.bgImage3{
  background-image: url('../img/3.jpg');
}

.bgImage4{
  background-image: url('../img/4.jpg');
}

.modHead{
  /* Блочная модель */ 
  padding-left: 20px;  
  padding-top: 100px;
  padding-bottom: 80px;
  /* Типографика */
  font-size: 48px;
  line-height: 50px;
  font-family: Gilroy, sans-serif;   
  font-weight: bold;
  color: #222020;

  list-style: none;
}

.headList{
   /* Блочная модель */ 
   padding-left: 50px;  
   padding-top: 20px;
   /* Типографика */
   font-size: 36px;
   line-height: 66px;
   font-family: Gilroy, sans-serif;   
   font-weight: bold;
   color: #2f1ce4;

   list-style: none;
}


.itemList{
   /* Блочная модель */
   padding-left: 50px;  
 
   /* Типографика */
   font-size: 16px;
   line-height: 30px;
   font-family: Gilroy, sans-serif;   
   color: #222020;
   list-style: none;
   height: 180px;
}

.numberList{
  font-size: 48px;
  text-align: right;
  line-height: 50px;
  font-family: Gilroy, sans-serif;   
  color: #eaeaea;
  list-style: none;
  padding: 30px;
}

.parent {
  width: 1170px; /* для примера */
  margin: 0 auto;
}

.number {
  font-size: 48px;
  text-align: right;
  line-height: 50px;
  font-family: Gilroy, sans-serif;   
  color: #eaeaea;
  list-style: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.more{
  text-align: center;
  margin-top: 90px; 
}

.more a{
  border: 3px solid #2f1ce4;
  color: #2f1ce4;
  padding: 20px 80px;
  display: inline-block;
  
  font-size: 18px;
  line-height: 60px;
  font-family: Gilroy, sans-serif;   
  
  text-align: center;
}

.space{
  height: 500px;
}